


/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
 line-height: 1.15;
 /* 1 */
 -webkit-text-size-adjust: 100%;
 /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
 body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  main {
    display: block;
  }

/**
 * Correct the font size and margin on `h2` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
 h2 {
    font-size: 2em;
    margin: 0.67em 0;
    padding-left: 30px;
  }

/**
 * Tables
 */
 table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
  }
  
  thead th {
    border-bottom: 2px solid #dedede;
  }
  
  tfoot th {
    border-top: 2px solid #dedede;
  }
  
  td {
    border-bottom: 1px solid #dedede;
  }
  
  th,
  td {
    text-align: left;
    padding: 0.5rem;
    padding-left: 30px;
  }
  
  caption {
    padding: 1rem 0;
    caption-side: bottom;
    color: #ababab;
  }
  
  .striped-table tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
  }
  
  .contain-table {
    overflow-x: auto;
  }
  
  @media (min-width: 600px) {
    .contain-table {
      width: 100%;
    }
  }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Correct the padding in Firefox.
 */
 fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  progress {
    vertical-align: baseline;
  }
  

  /**
 * Buttons
 */
/* .button, a.button, button, [type=submit], [type=reset], [type=button] {
    display: inline-block;
    border: 1px solid #3e81e2;
    border-radius: 4px;
    background: #3e81e2;
    color: #ffffff;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-transform: none;
    padding: 0.70rem 0.75rem;
    margin: 0 0 0.5rem 0;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    line-height: 1;
  } */
/*   
  .button:hover, a.button:hover, button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
    border: 1px solid #0250bc;
    background: #0250bc;
    color: #ffffff;
    text-decoration: none;
  }
  
  .button:focus, .button:active, a.button:focus, a.button:active, button:focus, button:active, [type=submit]:focus, [type=submit]:active, [type=reset]:focus, [type=reset]:active, [type=button]:focus, [type=button]:active {
    border: 1px solid #0250bc;
    background: #0250bc;
    color: #ffffff;
    text-decoration: none;
  }
  
  .button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
   */



/**
 * Forms
 */
[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
    display: block;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 0.65rem;
    outline: none;
    background: transparent;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    width: 50%;
    max-width: 50%;
    line-height: 1;
  }
  
  label {
    font-weight: 600;
    max-width: 100%;
    display: block;
    margin: 1rem 0 0.5rem;
    padding-left: 30px;
  }
  
  
